*{
    margin: 0;
    padding: 0;
    background: #f5f5f7;
}

div.contenedor{
    width: 80%;
    height: 2000px;
    background: #f5f5f7;
    margin: 0.5em auto;
    padding: 0.5em;
}

div.header{
    height: 8%;
    background: #5b6770;
    border-radius: 1em;
    margin: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
}

div.nav{
    height: 3%;
    background: #424242;
    border-radius: 1em;
    margin: 1em;
}

div.contenido{
    height: 75%;
    /*background: #FFFFFF;*/
}

div.footer{
    height: 10%;
    background: #5b6770;
    border-radius: 1em;
    margin: 1em;
}

div.filtro{
    height: 50%;
    width: 11%;
    background: #ececec;
    border-radius: 1em;
    float: left;
    margin: 1em;
    margin-right: 0em;
    font-family: Arial, Helvetica, sans-serif;
}

div.catalogo{
    height: 95%;
    width: 85%;
    background: #f5f5f7;
    border-radius: 1em;
    float: right;
    margin: 1em;
    margin-left: 0em;
}

div.catalogo-info{
    height: 95%;
    width: 98%;
    background: #FFFFFF;
    border-radius: 1em;
    float: right;
    margin: 1em;
    margin-left: 0em;
    
}

.articulo{
    height: 20%;
    width: 30%;
    background: #ffffff;
    margin: 1em;
    margin-bottom: 2em;
    border-radius: 1em;
    float: left;
    vertical-align: top;
}

div.foto{
    width: 50%;
    float: left;
    background: transparent;
    border-radius: 1em;
}

div.info{
    width: 49%;
    height: 75%;
    background: transparent;
    float: right;
    border-radius: 1em;
    /*margin: 1em;*/
}

.img{
    height: 100%;
    width: 100%;
    border-radius: 1em;
    background: transparent;
    padding-top: 23%;
    padding-bottom: 22%;
}

.inf{
    height: 80%;
    width: 100%;
    border-radius: 1em;
    background: transparent;
    text-align: center;
    vertical-align: sub;
    padding-top: 30%;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.precio{
    float: right;
    height: 20%;
    width: 100%;
    border-radius: 1em;
    background: transparent;
    color: #fbbc04;
    text-align: center;
    padding-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    
}

.i{
    background-color: #FFFFFF;
}

.p{
    background-color: transparent;
    font-weight: bold;
}

#titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    background-color: transparent;
}

#buscar{
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    float: right;
    align-items: center;
    display: flex;
    padding-top: 1%;
    padding-right: 1%;
    font-weight: bold;
    color: #FFFFFF;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

#f{
    padding: 1em;
    background-color: transparent;
}

#f2{
    background-color: transparent;
    font-weight: bold;
}

.articulo:hover{
    color: #8b0000;
}

.articulo:active{
    color: #000000;
}

.inf:hover{
    font-style: italic;
    font-size: 16px;
}

.boton{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.img-info{
    width: 40%;
    height: 40%;
    border-radius: 1em;
    margin: 3em;
    background: #FFFFFF;
    float: left;
}

.img-info:hover{
    width: 40%;
    height: 40%;
    border-radius: 1em;
    margin: 3em;
    background: #ececec;
}

.img-i{
    height: 100%;
    width: 100%;
    border-radius: 1em;
    background: transparent;
}

.info-img{
    width: 40%;
    height: 40%;
    border-radius: 1em;
    margin: 3em;
    background: #FFFFFF;
    float: right;
}

.if-img{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: transparent;
}
.titulo{
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background: transparent;
    color: #fbbc04;
}

.des{
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.info2{
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
}

h5{
    font-family: Arial, Helvetica, sans-serif;
}

ul, li{
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
}

.t{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
}

label{
    font-size: 15px;
}

.lista{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    background: transparent;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 14.5px;
    line-height: 1.6;
}

.informacion-page{
    padding: 1em;
    background: transparent;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background: transparent;
}